* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
--primary-color: #1BFFB0;
--secondary-color: #420F6E;
--tertiary-color: #1F1883;
--background-color: #cad0de;
}

/* Body */
body {
    background-color: var(--background-color);
}

/* Header */
header {
    padding: 10px 30px 10px 0;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
}
.h1-container {
    background-color: var(--primary-color);
    padding: 5px 5px 5px 30px;
}

.main-nav {
    width: 30%;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: var(--primary-color);
}
.main-nav a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    font-size: 20px;
}

/* Hero */
.hero {
    background-image: url(../images/fantasy-scenery.jpg);
    height: 355px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* Body */ 

main {
    margin: auto;
}
.section-title {
    display: flex;
    color: var(--secondary-color);
    margin-top: 20px;
}

.section-title h2 {
    font-size: 36px;
    border-right: 3px solid var(--secondary-color);
    padding: 5px 5px 5px 40px;
    text-align: right;
    width: 15%;
} 

.section-title p {
    font-size: 16px;
}

.p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* Work Section */

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.work-element {
    border: 2px solid var(--secondary-color);
    width: 45%;
    height: 200px;
    margin: 2.5%;
} 

.main-work-element {
    width: 100%;
    height: 200px;
    background-image: url(../images/run-buddy-screenshot.png);
    background-position: center;
    background-size: cover;
}

.surf {
    background-image: url(../images/surf.png);
    background-position: center;
    background-size: cover;
}

.puzzle {
    background-image: url(../images/puzzle.png);
    background-position: center;
    background-size: cover;
}

.calculator {
    background-image: url(../images/calculator.png);
    background-position: center;
    background-size: cover;
}

.led-wall {
    background-image: url(../images/led-wall.png);
    background-position: center;
    background-size: cover;
}


/* Contact Me Section */ 
.contact-nav {
    width: 80%;
}

.contact-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: var(--tertiary-color);
}
.contact-nav a {
    text-decoration: none;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    font-size: 20px;
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

footer h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }