* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
--primary-color: #1BFFB0;
--secondary-color: #420F6E;
}

/* Body */
body {
    background-color: #CADAD9;
}

/* Header */
header {
    padding: 10px 30px 10px 0;
    background-color: var(--secondary-color);
    display: flex;
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
}
.h1-container {
    background-color: var(--primary-color);
    padding: 5px 5px 5px 30px;
}

.main-nav {
    width: 30%;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: var(--primary-color);
}
.main-nav a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    font-size: 20px;
}

/* Hero */
.hero {
    background-image: url(../images/fantasy-scenery.jpg);
    height: 355px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* Body */ 

main {
    margin: auto;
}
.section-title {
    display: flex;
    color: var(--secondary-color);
    margin-top: 20px;
}

.section-title h2 {
    font-size: 36px;
    border-right: 3px solid var(--secondary-color);
    padding: 5px 5px 5px 60px;
    text-align: right;
    width: 25%;
} 

.section-title p {
    font-size: 16px;
    width: 75%;
    padding: 15px;
}